<!-- meta tags and other links -->

<aside class="sidebar">
  <button type="button" class="sidebar-close-btn">
    <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
  </button>
  <div class="sidebar-logo-container">
    <a routerLink="/dashboard" class="sidebar-logo sidebar-branding" aria-label="Go to dashboard">
      <span class="sidebar-brand-icon" aria-hidden="true">
        <iconify-icon icon="mdi:briefcase-account-outline"></iconify-icon>
      </span>
      <span class="sidebar-brand-text">
        <span class="sidebar-brand-title">{{ config?.instituteName || 'Noshahi Institute' }}</span>
        <span class="sidebar-brand-subtitle">Institute Manager</span>
      </span>
    </a>
  </div>
  <div class="sidebar-menu-area">
    <ul class="sidebar-menu" id="sidebar-menu">
      <!-- Student Menu -->
      <li *ngIf="authService.hasAnyRole(['Student'])" class="sidebar-menu-group-title">STUDENT</li>
      <li *ngIf="authService.hasAnyRole(['Student'])">
        <a routerLink="/student-dashboard" routerLinkActive="active-page">
          <iconify-icon icon="solar:widget-bold-duotone" class="menu-icon"></iconify-icon>
          <span>My Dashboard</span>
        </a>
      </li>
      <li *ngIf="authService.hasAnyRole(['Student'])">
        <a routerLink="/student-profile" routerLinkActive="active-page">
          <iconify-icon icon="solar:user-bold-duotone" class="menu-icon"></iconify-icon>
          <span>My Profile</span>
        </a>
      </li>
      <li *ngIf="authService.hasAnyRole(['Student'])">
        <a routerLink="/student-attendance-view" routerLinkActive="active-page">
          <iconify-icon icon="solar:user-check-bold-duotone" class="menu-icon"></iconify-icon>
          <span>My Attendance</span>
        </a>
      </li>
      <li *ngIf="authService.hasAnyRole(['Student'])">
        <a routerLink="/student-fee-view" routerLinkActive="active-page">
          <iconify-icon icon="solar:wallet-money-bold-duotone" class="menu-icon"></iconify-icon>
          <span>My Fees</span>
        </a>
      </li>
      <li *ngIf="authService.hasAnyRole(['Student'])">
        <a routerLink="/student-exam-results" routerLinkActive="active-page">
          <iconify-icon icon="solar:chart-bold-duotone" class="menu-icon"></iconify-icon>
          <span>My Exam Results</span>
        </a>
      </li>




      <li *ngIf="hasAnyRole(['Admin','Accountant','Principal','Teacher'])">
        <a routerLink="/dashboard" routerLinkActive="active-page">
          <iconify-icon icon="solar:home-smile-angle-outline"></iconify-icon>
          <span>Dashboard</span>
        </a>
      </li>




      <!-- Section Management -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal'])">
        <a href="javascript:void(0)" data-desc="Section list and section setup" title="Section list and section setup">
          <iconify-icon icon="mdi:view-list" class="menu-icon"></iconify-icon>
          <span>Manage Sections</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/section-list" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Section List</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/section-add" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Add Section</a></li>
        </ul>
      </li>


      <!-- Employee Records -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal'])">
        <a href="javascript:void(0)" data-desc="Staff records, profiles and login control"
          title="Staff records, profiles and login control">
          <iconify-icon icon="mdi:account-tie" class="menu-icon"></iconify-icon>
          <span>Employees View</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/staff-list" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> All Employees</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/staff-add" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Add New</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/staff-manage-login"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-danger-main"></i> Manage
              Login</a></li>
        </ul>
      </li>

      <!-- Student Directory -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher', 'Accountant'])">
        <a href="javascript:void(0)" data-desc="Student records, admissions and promotions"
          title="Student records, admissions and promotions">
          <iconify-icon icon="mdi:account-school" class="menu-icon"></iconify-icon>
          <span>Manage Students</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/student-list" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Student List</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/student-add" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Add Student</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/student-promote"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-danger-main"></i> Student
              Promote</a></li>
        </ul>
      </li>

      <!-- Academic Classes -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher'])">
        <a href="javascript:void(0)" data-desc="Class setup and class management"
          title="Class setup and class management">
          <iconify-icon icon="mdi:google-classroom" class="menu-icon"></iconify-icon>
          <span>Manage Classes</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/class-list" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> All Classes</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/newclass" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Add New Class</a></li>
          <li><a routerLink="/class-management" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-danger"></i> Class Manage</a></li>
        </ul>
      </li>

      <!-- Subject Assignment -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher'])">
        <a href="javascript:void(0)" data-desc="Subjects creation and teacher assignment"
          title="Subjects creation and teacher assignment">
          <iconify-icon icon="mdi:book-open-variant" class="menu-icon"></iconify-icon>
          <span>Manage Subjects</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/subject-list" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> All Subjects</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/subject-add" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Create Subject</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/subject-assignment"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-danger-main"></i> Assign
              Subject</a></li>
        </ul>
      </li>

      <!-- Financial Management -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Accountant'])">
        <a href="javascript:void(0)" data-desc="Fees, invoices, payments and defaulters"
          title="Fees, invoices, payments and defaulters">
          <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
          <span>Finance System</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/fee" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-info-main"></i> Create Fee Type</a></li>
          <li><a routerLink="/generate-fee-invoice" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Create Fee</a></li>
          <li><a routerLink="/monthly-payment" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-danger-main"></i> Monthly Payment</a></li>
          <li><a routerLink="/other-payment" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-info-main"></i> Other Payment</a></li>
          <li><a routerLink="/payment-detail" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Payment Detail</a></li>
          <li *ngIf="hasAnyRole(['Accountant'])"><a routerLink="/collect-fee" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-success-main"></i> Collect Fee</a></li>
          <li><a routerLink="/fee-defaulters" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-danger-main"></i> Fee Defaulters</a></li>
        </ul>
      </li>

      <!-- Payroll System -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Accountant'])">
        <a href="javascript:void(0)" data-desc="Salary processing and salary slips"
          title="Salary processing and salary slips">
          <iconify-icon icon="mdi:cash-multiple" class="menu-icon"></iconify-icon>
          <span>Payroll System</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/salary" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Pay Salary</a></li>
          <li><a routerLink="/salary-slip" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Salary Paid Slip</a></li>
        </ul>
      </li>

      <!-- Attendance Tracking -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher', 'Accountant'])">
        <a href="javascript:void(0)" data-desc="Student and staff attendance with reports"
          title="Student and staff attendance with reports">
          <iconify-icon icon="mdi:calendar-check" class="menu-icon"></iconify-icon>
          <span>Attendance Track</span>
        </a>
        <ul class="sidebar-submenu">
          <li *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher'])"><a routerLink="/attendance"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-primary-600"></i> Student
              Attendance</a></li>
          <li *ngIf="hasAnyRole(['Teacher', 'Accountant'])"><a routerLink="/my-attendance"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-success-main"></i> My
              Attendance</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/staff-attendance"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-warning-main"></i> Staff
              Attendance</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher'])"><a routerLink="/class-wise-report"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-danger"></i> Class Wise
              Report</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/student-attendance-report"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-primary-600"></i> Student
              Attendance Report</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/staff-attendance-report"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-warning-main"></i> Staff
              Attendance Report</a></li>
        </ul>
      </li>

      <!-- Leave Management -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher', 'Accountant'])">
        <a href="javascript:void(0)" data-desc="Apply, review and manage leave requests"
          title="Apply, review and manage leave requests">
          <iconify-icon icon="mdi:calendar-outline" class="menu-icon"></iconify-icon>
          <span>Manage Leave</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/leave" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Dashboard</a></li>
          <li *ngIf="hasAnyRole(['Teacher', 'Accountant'])"><a routerLink="/apply-leave"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-warning-main"></i> Apply
              Leave</a></li>
          <li *ngIf="hasAnyRole(['Teacher', 'Accountant'])"><a routerLink="/my-leaves" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-success-main"></i> My Leaves</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/manage-leaves"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-danger-main"></i> Manage
              Leaves</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/leave-type" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-neutral-600"></i> Leave Type Management</a></li>
        </ul>
      </li>

      <!-- Examination Center -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher'])">
        <a href="javascript:void(0)" data-desc="Exams, schedules, marks and results"
          title="Exams, schedules, marks and results">
          <iconify-icon icon="mdi:school-outline" class="menu-icon"></iconify-icon>
          <span>Manage Exams</span>
        </a>
        <ul class="sidebar-submenu">
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/exam" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Manage Exams</a></li>
          <li><a routerLink="/exam-schedule" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Exam Schedule</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/exam-schedule-standards-create"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-primary-600"></i> Exam Schedule
              Standard</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/exam-schedule-standards-list"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-info-main"></i> Exam Schedule
              Standard List</a></li>
          <li *ngIf="hasAnyRole(['Teacher'])"><a routerLink="/marks-entry" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-success-main"></i> Marks Entry</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/auto-grade-calculation"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-info-main"></i> Auto Grade</a>
          </li>
          <li><a routerLink="/exam-result" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-danger-main"></i> Exam Results</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/exam-analytics"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-secondary-light"></i> Exam
              Analytics</a></li>
        </ul>
      </li>

      <!-- Account Ledger -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin','Accountant'])">
        <a href="javascript:void(0)" data-desc="Income, expenses, ledger and bank cash"
          title="Income, expenses, ledger and bank cash">
          <iconify-icon icon="mdi:finance" class="menu-icon"></iconify-icon>
          <span>Account Ledger</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/accounts" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Dashboard</a></li>
          <li><a routerLink="/income-manage" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-success-main"></i> Income Management</a></li>
          <li><a routerLink="/expense-manage" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-danger-main"></i> Expense Management</a></li>
          <li><a routerLink="/profit-loss" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Profit & Loss Report</a></li>
          <li><a routerLink="/accounts-ledger" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-neutral-600"></i> Transactions</a></li>
          <li><a routerLink="/bank-cash" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-info-main"></i> Bank Cash</a></li>
        </ul>
      </li>

      <!-- Analytics & Reports -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal', 'Accountant'])">
        <a href="javascript:void(0)" data-desc="Analytics insights and report center"
          title="Analytics insights and report center">
          <iconify-icon icon="mdi:file-chart" class="menu-icon"></iconify-icon>
          <span>Reports System</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/report" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Report Analytics</a></li>
        </ul>
      </li>

      <!-- Communications -->
      <li class="dropdown" *ngIf="hasAnyRole(['Admin', 'Principal', 'Teacher', 'Accountant'])">
        <a href="javascript:void(0)" routerLinkActive="active-page">
          <iconify-icon icon="mdi:message-outline" class="menu-icon"></iconify-icon>
          <span>Notifications</span>
          <span *ngIf="unreadMessageCount > 0" class="badge bg-danger ms-auto">{{ unreadMessageCount }}</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/email" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Inbox</a></li>
          <li *ngIf="hasAnyRole(['Admin', 'Principal'])"><a routerLink="/broadcast"
              routerLinkActive="active-page"><i class="ri-circle-fill circle-icon text-warning-main"></i> Broadcast</a>
          </li>
        </ul>
      </li>

      <!-- System Admin -->
      <!-- <li class="dropdown" *ngIf="hasAnyRole(['Admin'])">
        <a href="javascript:void(0)" data-desc="Settings, campuses, roles and system controls"
          title="Settings, campuses, roles and system controls">
          <iconify-icon icon="mdi:cog" class="menu-icon"></iconify-icon>
          <span>System Admin</span>
        </a>
        <ul class="sidebar-submenu">
          <li><a routerLink="/settings" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> General Settings</a></li>
          <li><a routerLink="/campus-management" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-info-main"></i> Campus Management</a></li>
          <li><a routerLink="/role-access" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-primary-600"></i> Role & Access</a></li>
          <li><a routerLink="/assign-role" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-warning-main"></i> Assign Role</a></li>
          <li><a routerLink="/theme" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-danger-main"></i> Theme Customization</a></li>
          <li><a routerLink="/language" routerLinkActive="active-page"><i
                class="ri-circle-fill circle-icon text-info-main"></i> Language Settings</a></li>
        </ul>
      </li> -->
    </ul>
  </div>



</aside>

<main class="dashboard-main">
  <div class="navbar-header">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="d-flex flex-wrap align-items-center gap-4">
          <button type="button" class="sidebar-toggle">
            <iconify-icon icon="heroicons:bars-3-solid" class="icon text-2xl non-active"></iconify-icon>
            <iconify-icon icon="iconoir:arrow-right" class="icon text-2xl active"></iconify-icon>
          </button>
          <button type="button" class="sidebar-mobile-toggle">
            <iconify-icon icon="heroicons:bars-3-solid" class="icon"></iconify-icon>
          </button>
          <form class="navbar-search">
            <input type="text" name="search" placeholder="Search">
            <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
          </form>
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex flex-wrap align-items-center gap-3">
          <button type="button" data-theme-toggle #themeButton (click)="toggleTheme()"
            class="w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"></button>

          <!-- Campus Selector -->
          <div class="dropdown" *ngIf="false">
            <button
              class="has-indicator px-12 h-40-px bg-neutral-200 rounded-pill d-flex justify-content-center align-items-center gap-2"
              type="button" data-bs-toggle="dropdown">
              <iconify-icon icon="mdi:office-building-marker-outline" class="text-primary-light text-xl"></iconify-icon>
              <span class="text-sm fw-semibold text-primary-light">{{ selectedCampus?.campusName || 'Select Campus'
                }}</span>
            </button>
            <div class="dropdown-menu to-top dropdown-menu-sm">
              <div
                class="py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
                <div>
                  <h6 class="text-lg text-primary-light fw-semibold mb-0">Switch Campus</h6>
                </div>
              </div>
              <div class="max-h-400-px overflow-y-auto scroll-sm pe-8">
                <div *ngFor="let campus of campuses"
                  class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light"
                    [for]="'campus' + campus.campusId">
                    <span
                      class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3 cursor-pointer"
                      (click)="onCampusChange(campus)">
                      <iconify-icon icon="mdi:office-building"
                        class="w-36-px h-36-px bg-primary-subtle text-primary-main rounded-circle d-flex align-items-center justify-content-center"></iconify-icon>
                      <span class="text-md fw-semibold mb-0">{{ campus.campusName }}</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="campusSelection" [id]="'campus' + campus.campusId"
                    [checked]="selectedCampus?.campusId === campus.campusId" (change)="onCampusChange(campus)">
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown d-none d-sm-inline-block" *ngIf="false">
            <button
              class="has-indicator w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"
              type="button" data-bs-toggle="dropdown">
              <img src="assets/images/lang-flag.png" alt="image" class="w-24 h-24 object-fit-cover rounded-circle">
            </button>
            <div class="dropdown-menu to-top dropdown-menu-sm">
              <div
                class="py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
                <div>
                  <h6 class="text-lg text-primary-light fw-semibold mb-0">Choose Your Language</h6>
                </div>
              </div>

              <div class="max-h-400-px overflow-y-auto scroll-sm pe-8">
                <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="english">
                    <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <img src="assets/images/flags/flag1.png" alt=""
                        class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                      <span class="text-md fw-semibold mb-0">English</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="crypto" id="english">
                </div>

                <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="japan">
                    <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <img src="assets/images/flags/flag2.png" alt=""
                        class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                      <span class="text-md fw-semibold mb-0">Japan</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="crypto" id="japan">
                </div>

                <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="france">
                    <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <img src="assets/images/flags/flag3.png" alt=""
                        class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                      <span class="text-md fw-semibold mb-0">France</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="crypto" id="france">
                </div>

                <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="germany">
                    <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <img src="assets/images/flags/flag4.png" alt=""
                        class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                      <span class="text-md fw-semibold mb-0">Germany</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="crypto" id="germany">
                </div>

                <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="korea">
                    <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <img src="assets/images/flags/flag5.png" alt=""
                        class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                      <span class="text-md fw-semibold mb-0">South Korea</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="crypto" id="korea">
                </div>

                <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="bangladesh">
                    <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <img src="assets/images/flags/flag6.png" alt=""
                        class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                      <span class="text-md fw-semibold mb-0">Bangladesh</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="crypto" id="bangladesh">
                </div>

                <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="india">
                    <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <img src="assets/images/flags/flag7.png" alt=""
                        class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                      <span class="text-md fw-semibold mb-0">India</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="crypto" id="india">
                </div>
                <div class="form-check style-check d-flex align-items-center justify-content-between">
                  <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="canada">
                    <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <img src="assets/images/flags/flag8.png" alt=""
                        class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                      <span class="text-md fw-semibold mb-0">Canada</span>
                    </span>
                  </label>
                  <input class="form-check-input" type="radio" name="crypto" id="canada">
                </div>
              </div>
            </div>
          </div>

          <div class="dropdown">
            <button
              class="has-indicator w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"
              type="button" data-bs-toggle="dropdown">
              <iconify-icon icon="mage:email" class="text-primary-light text-xl"></iconify-icon>
            </button>
            <div class="dropdown-menu to-top dropdown-menu-lg p-0">
              <div
                class="m-16 py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
                <div>
                  <h6 class="text-lg text-primary-light fw-semibold mb-0">Message</h6>
                </div>
                <span
                  class="text-primary-600 fw-semibold text-lg w-40-px h-40-px rounded-circle bg-base d-flex justify-content-center align-items-center">{{
                  unreadMessageCount }}</span>
              </div>

              <div class="max-h-400-px overflow-y-auto scroll-sm pe-4">

                <div *ngIf="messages.length === 0" class="px-24 py-12 text-center text-secondary-light">
                  No new messages
                </div>

                <a *ngFor="let msg of messages.slice(0, 5)" routerLink="/email" (click)="markMessageAsRead(msg.id)"
                  class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between"
                  [class.bg-neutral-50]="msg.isRead">
                  <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                    <span class="w-40-px h-40-px rounded-circle flex-shrink-0 position-relative">
                      <img src="assets/images/user.png" alt="" class="rounded-circle">
                      <span *ngIf="!msg.isRead"
                        class="w-8-px h-8-px bg-success-main rounded-circle position-absolute end-0 bottom-0"></span>
                    </span>
                    <div>
                      <h6 class="text-md fw-semibold mb-4">{{ msg.subject }}</h6>
                      <p class="mb-0 text-sm text-secondary-light text-w-100-px">{{ msg.content | slice:0:30 }}...</p>
                    </div>
                  </div>
                  <div class="d-flex flex-column align-items-end">
                    <span class="text-sm text-secondary-light flex-shrink-0">{{ msg.createdAt | date:'shortTime'
                      }}</span>
                  </div>
                </a>



              </div>
              <div class="text-center py-12 px-16">
                <a routerLink="/email" class="text-primary-600 fw-semibold text-md">See All Message</a>
              </div>
            </div>
          </div>

          <div class="dropdown">
            <button
              class="has-indicator w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"
              type="button" data-bs-toggle="dropdown">
              <iconify-icon icon="iconoir:bell" class="text-primary-light text-xl"></iconify-icon>
            </button>
            <div class="dropdown-menu to-top dropdown-menu-lg p-0">
              <div
                class="m-16 py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
                <div>
                  <h6 class="text-lg text-primary-light fw-semibold mb-0">Notifications</h6>
                </div>
                <span
                  class="text-primary-600 fw-semibold text-lg w-40-px h-40-px rounded-circle bg-base d-flex justify-content-center align-items-center">{{
                  unreadNotificationCount }}</span>
              </div>

              <div class="max-h-400-px overflow-y-auto scroll-sm pe-4">
                <div *ngIf="notifications.length === 0" class="px-24 py-12 text-center text-secondary-light">
                  No new notifications
                </div>

                <a *ngFor="let notify of notifications.slice(0, 5)" href="javascript:void(0)"
                  (click)="markNotificationAsRead(notify.id)"
                  class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between"
                  [class.bg-neutral-50]="notify.isRead">
                  <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                    <span
                      class="w-44-px h-44-px bg-success-subtle text-success-main rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                      <iconify-icon
                        [icon]="notify.notificationType === 'Broadcast' ? 'solar:notification-lines-duotone' : 'bitcoin-icons:verify-outline'"
                        class="icon text-xxl"></iconify-icon>
                    </span>
                    <div>
                      <h6 class="text-md fw-semibold mb-4">{{ notify.title }}</h6>
                      <p class="mb-0 text-sm text-secondary-light text-w-200-px">{{ notify.message }}</p>
                    </div>
                  </div>
                  <span class="text-sm text-secondary-light flex-shrink-0">{{ notify.createdAt | date:'shortTime'
                    }}</span>
                </a>


              </div>

              <div class="text-center py-12 px-16">
                <a routerLink="/notifications" class="text-primary-600 fw-semibold text-md">See All Notification</a>
              </div>

            </div>
          </div>

          <div class="dropdown">
            <button class="d-flex justify-content-center align-items-center rounded-circle" type="button"
              data-bs-toggle="dropdown">
              <img src="assets/images/user.png" alt="image" class="w-40-px h-40-px object-fit-cover rounded-circle">
            </button>
            <div class="dropdown-menu to-top dropdown-menu-sm">
              <div
                class="py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
                <div>
                  <h6 class="text-lg text-primary-light fw-semibold mb-2">{{ displayName }}</h6>
                  <span class="text-secondary-light fw-medium text-sm">{{ currentUser?.roles ? currentUser.roles[0] :
                    'User' }}</span>
                </div>
                <button type="button" class="hover-text-danger">
                  <iconify-icon icon="radix-icons:cross-1" class="icon text-xl"></iconify-icon>
                </button>
              </div>
              <ul class="to-top-list">
                <li>
                  <a [routerLink]="hasRole('Student') ? '/student-profile' : '/view-profile'"
                    class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                    <iconify-icon icon="solar:user-linear" class="icon text-xl"></iconify-icon> My Profile</a>
                </li>
                <li>
                  <a routerLink="/email"
                    class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                    <iconify-icon icon="tabler:message-check" class="icon text-xl"></iconify-icon> Inbox</a>
                </li>
                <li>
                  <a routerLink="/company"
                    class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                    <iconify-icon icon="icon-park-outline:setting-two" class="icon text-xl"></iconify-icon> Setting</a>
                </li>
                <li>
                  <a href="javascript:void(0)" (click)="logout()"
                    class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-danger d-flex align-items-center gap-3">
                    <iconify-icon icon="lucide:power" class="icon text-xl"></iconify-icon> Log Out</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet />

  <footer class="d-footer">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <p class="mb-0">© {{ currentYear }} <span class="fw-bold">{{ config?.instituteName || 'NIM' }}</span> Enterprise
          - All Rights Reserved.</p>
      </div>
      <div class="col-auto">
        <p class="mb-0">Engineered by <span class="text-primary-600 fw-semibold">Noshahi Developers Inc.</span></p>
      </div>
    </div>
  </footer>
</main>