<div class="dashboard-main-body">
  <app-breadcrumb
    [title]="'Marketplace'"
    [main-title]="'Marketplace'"
  ></app-breadcrumb>

  <div class="card h-100 p-0 radius-12">
    <div
      class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between"
    >
      <div class="d-flex align-items-center flex-wrap gap-3">
        <span class="text-md fw-medium text-secondary-light mb-0">Show</span>
        <select
          class="form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px"
        >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
        <form class="navbar-search">
          <input
            type="text"
            class="bg-base h-40-px w-auto"
            name="search"
            placeholder="Search"
          />
          <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
        </form>
        <button
          type="button"
          class="btn border py-8 text-secondary-light fw-medium bg-hover-neutral-50 radius-8"
        >
          Watchlist
        </button>
      </div>
      <a
        routerLink="/portfolio"
        class="btn btn-primary text-sm btn-sm px-24 py-10 radius-8"
      >
        Portfolios
      </a>
    </div>
    <div class="card-body p-24">
      <div class="table-responsive scroll-sm">
        <table class="table bordered-table sm-table mb-0">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border input-form-dark"
                      type="checkbox"
                      name="checkbox"
                      id="selectAll"
                    />
                  </div>
                  S.L
                </div>
              </th>
              <th scope="col">Aset</th>
              <th scope="col">Circulating Supply</th>
              <th scope="col">Price</th>
              <th scope="col">Market Cap</th>
              <th scope="col">Change %</th>
              <th scope="col">Last (24H)</th>
              <th scope="col" class="text-center">Watchlist</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="01"
                    />
                  </div>
                  01
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img1.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Bitcoin</span
                    >
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >BTC</span
                    >
                  </span>
                </a>
              </td>
              <td>0.3464 BTC</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-success-focus text-success-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-up-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart1"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart1.series"
                    [chart]="timeSeriesChart1.chart"
                    [xaxis]="timeSeriesChart1.xaxis"
                    [yaxis]="timeSeriesChart1.yaxis"
                    [fill]="timeSeriesChart1.fill"
                    [grid]="timeSeriesChart1.grid"
                    [plotOptions]="timeSeriesChart1.plotOptions"
                    [dataLabels]="timeSeriesChart1.dataLabels"
                    [responsive]="timeSeriesChart1.responsive"
                    [stroke]="timeSeriesChart1.stroke"
                    [colors]="timeSeriesChart1.colors"
                    [legend]="timeSeriesChart1.legend"
                    [labels]="timeSeriesChart1.labels"
                    [tooltip]="timeSeriesChart1.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="02"
                    />
                  </div>
                  02
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img2.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Ethereum</span
                    >
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >ETH</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 ETH</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-success-focus text-success-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-up-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart2"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart2.series"
                    [chart]="timeSeriesChart2.chart"
                    [xaxis]="timeSeriesChart2.xaxis"
                    [yaxis]="timeSeriesChart2.yaxis"
                    [fill]="timeSeriesChart2.fill"
                    [grid]="timeSeriesChart2.grid"
                    [plotOptions]="timeSeriesChart2.plotOptions"
                    [dataLabels]="timeSeriesChart2.dataLabels"
                    [responsive]="timeSeriesChart2.responsive"
                    [stroke]="timeSeriesChart2.stroke"
                    [colors]="timeSeriesChart2.colors"
                    [legend]="timeSeriesChart2.legend"
                    [labels]="timeSeriesChart2.labels"
                    [tooltip]="timeSeriesChart2.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="03"
                    />
                  </div>
                  03
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img3.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Litecoin</span
                    >
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >LTC</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 LTC</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-success-focus text-success-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-up-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart3"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart3.series"
                    [chart]="timeSeriesChart3.chart"
                    [xaxis]="timeSeriesChart3.xaxis"
                    [yaxis]="timeSeriesChart3.yaxis"
                    [fill]="timeSeriesChart3.fill"
                    [grid]="timeSeriesChart3.grid"
                    [plotOptions]="timeSeriesChart3.plotOptions"
                    [dataLabels]="timeSeriesChart3.dataLabels"
                    [responsive]="timeSeriesChart3.responsive"
                    [stroke]="timeSeriesChart3.stroke"
                    [colors]="timeSeriesChart3.colors"
                    [legend]="timeSeriesChart3.legend"
                    [labels]="timeSeriesChart3.labels"
                    [tooltip]="timeSeriesChart3.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="04"
                    />
                  </div>
                  04
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img4.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Binance</span
                    >
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >BNB</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 BNB</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-success-focus text-success-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-up-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart4"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart4.series"
                    [chart]="timeSeriesChart4.chart"
                    [xaxis]="timeSeriesChart4.xaxis"
                    [yaxis]="timeSeriesChart4.yaxis"
                    [fill]="timeSeriesChart4.fill"
                    [grid]="timeSeriesChart4.grid"
                    [plotOptions]="timeSeriesChart4.plotOptions"
                    [dataLabels]="timeSeriesChart4.dataLabels"
                    [responsive]="timeSeriesChart4.responsive"
                    [stroke]="timeSeriesChart4.stroke"
                    [colors]="timeSeriesChart4.colors"
                    [legend]="timeSeriesChart4.legend"
                    [labels]="timeSeriesChart4.labels"
                    [tooltip]="timeSeriesChart4.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="05"
                    />
                  </div>
                  05
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img6.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Dogecoin</span
                    >
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >DOGE</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 DOGE</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-danger-focus text-danger-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-down-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart5"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart5.series"
                    [chart]="timeSeriesChart5.chart"
                    [xaxis]="timeSeriesChart5.xaxis"
                    [yaxis]="timeSeriesChart5.yaxis"
                    [fill]="timeSeriesChart5.fill"
                    [grid]="timeSeriesChart5.grid"
                    [plotOptions]="timeSeriesChart5.plotOptions"
                    [dataLabels]="timeSeriesChart5.dataLabels"
                    [responsive]="timeSeriesChart5.responsive"
                    [stroke]="timeSeriesChart5.stroke"
                    [colors]="timeSeriesChart5.colors"
                    [legend]="timeSeriesChart5.legend"
                    [labels]="timeSeriesChart5.labels"
                    [tooltip]="timeSeriesChart5.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="06"
                    />
                  </div>
                  06
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img5.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Polygon
                    </span>
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >MATIC</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 MATIC</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-danger-focus text-danger-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-down-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart6"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart6.series"
                    [chart]="timeSeriesChart6.chart"
                    [xaxis]="timeSeriesChart6.xaxis"
                    [yaxis]="timeSeriesChart6.yaxis"
                    [fill]="timeSeriesChart6.fill"
                    [grid]="timeSeriesChart6.grid"
                    [plotOptions]="timeSeriesChart6.plotOptions"
                    [dataLabels]="timeSeriesChart6.dataLabels"
                    [responsive]="timeSeriesChart6.responsive"
                    [stroke]="timeSeriesChart6.stroke"
                    [colors]="timeSeriesChart6.colors"
                    [legend]="timeSeriesChart6.legend"
                    [labels]="timeSeriesChart6.labels"
                    [tooltip]="timeSeriesChart6.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="066"
                    />
                  </div>
                  06
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img5.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Polygon
                    </span>
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >MATIC</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 MATIC</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-danger-focus text-danger-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-down-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart7"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart7.series"
                    [chart]="timeSeriesChart7.chart"
                    [xaxis]="timeSeriesChart7.xaxis"
                    [yaxis]="timeSeriesChart7.yaxis"
                    [fill]="timeSeriesChart7.fill"
                    [grid]="timeSeriesChart7.grid"
                    [plotOptions]="timeSeriesChart7.plotOptions"
                    [dataLabels]="timeSeriesChart7.dataLabels"
                    [responsive]="timeSeriesChart7.responsive"
                    [stroke]="timeSeriesChart7.stroke"
                    [colors]="timeSeriesChart7.colors"
                    [legend]="timeSeriesChart7.legend"
                    [labels]="timeSeriesChart7.labels"
                    [tooltip]="timeSeriesChart7.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="016"
                    />
                  </div>
                  06
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img5.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Polygon
                    </span>
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >MATIC</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 MATIC</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-danger-focus text-danger-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-down-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart8"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart8.series"
                    [chart]="timeSeriesChart8.chart"
                    [xaxis]="timeSeriesChart8.xaxis"
                    [yaxis]="timeSeriesChart8.yaxis"
                    [fill]="timeSeriesChart8.fill"
                    [grid]="timeSeriesChart8.grid"
                    [plotOptions]="timeSeriesChart8.plotOptions"
                    [dataLabels]="timeSeriesChart8.dataLabels"
                    [responsive]="timeSeriesChart8.responsive"
                    [stroke]="timeSeriesChart8.stroke"
                    [colors]="timeSeriesChart8.colors"
                    [legend]="timeSeriesChart8.legend"
                    [labels]="timeSeriesChart8.labels"
                    [tooltip]="timeSeriesChart8.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="026"
                    />
                  </div>
                  06
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img5.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Polygon
                    </span>
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >MATIC</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 MATIC</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-danger-focus text-danger-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-down-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart9"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart9.series"
                    [chart]="timeSeriesChart9.chart"
                    [xaxis]="timeSeriesChart9.xaxis"
                    [yaxis]="timeSeriesChart9.yaxis"
                    [fill]="timeSeriesChart9.fill"
                    [grid]="timeSeriesChart9.grid"
                    [plotOptions]="timeSeriesChart9.plotOptions"
                    [dataLabels]="timeSeriesChart9.dataLabels"
                    [responsive]="timeSeriesChart9.responsive"
                    [stroke]="timeSeriesChart9.stroke"
                    [colors]="timeSeriesChart9.colors"
                    [legend]="timeSeriesChart9.legend"
                    [labels]="timeSeriesChart9.labels"
                    [tooltip]="timeSeriesChart9.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center gap-10">
                  <div class="form-check style-check d-flex align-items-center">
                    <input
                      class="form-check-input radius-4 border border-neutral-400"
                      type="checkbox"
                      name="checkbox"
                      id="061"
                    />
                  </div>
                  06
                </div>
              </td>
              <td>
                <a
                  routerLink="/marketplace-details"
                  class="d-flex align-items-center"
                >
                  <img
                    src="assets/images/crypto/crypto-img5.png"
                    alt=""
                    class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden"
                  />
                  <span class="flex-grow-1 d-flex flex-column">
                    <span
                      class="text-md mb-0 fw-medium text-primary-light d-block"
                      >Polygon
                    </span>
                    <span class="text-xs mb-0 fw-normal text-secondary-light"
                      >MATIC</span
                    >
                  </span>
                </a>
              </td>
              <td>0.5464 MATIC</td>
              <td>$2,753.00</td>
              <td>$361.32B</td>
              <td>
                <span
                  class="bg-danger-focus text-danger-600 px-16 py-6 rounded-pill fw-semibold text-xs"
                >
                  <i class="ri-arrow-down-s-fill"></i>
                  1.37%
                </span>
              </td>
              <td>
                <div
                  id="timeSeriesChart10"
                  class="remove-tooltip-title rounded-tooltip-value"
                >
                  <apx-chart
                    [series]="timeSeriesChart10.series"
                    [chart]="timeSeriesChart10.chart"
                    [xaxis]="timeSeriesChart10.xaxis"
                    [yaxis]="timeSeriesChart10.yaxis"
                    [fill]="timeSeriesChart10.fill"
                    [grid]="timeSeriesChart10.grid"
                    [plotOptions]="timeSeriesChart10.plotOptions"
                    [dataLabels]="timeSeriesChart10.dataLabels"
                    [responsive]="timeSeriesChart10.responsive"
                    [stroke]="timeSeriesChart10.stroke"
                    [colors]="timeSeriesChart10.colors"
                    [legend]="timeSeriesChart10.legend"
                    [labels]="timeSeriesChart10.labels"
                    [tooltip]="timeSeriesChart10.tooltip"
                  >
                  </apx-chart>
                </div>
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="star-btn text-2xl text-neutral-400 text-hover-primary-600 line-height-1"
                >
                  <i class="ri-star-line"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="d-flex align-items-center justify-content-between flex-wrap gap-2 mt-24"
      >
        <span>Showing 1 to 10 of 12 entries</span>
        <ul
          class="pagination d-flex flex-wrap align-items-center gap-2 justify-content-center"
        >
          <li class="page-item">
            <a
              class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)"
              ><iconify-icon icon="ep:d-arrow-left" class=""></iconify-icon
            ></a>
          </li>
          <li class="page-item">
            <a
              class="page-link text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md bg-primary-600 text-white"
              href="javascript:void(0)"
              >1</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px"
              href="javascript:void(0)"
              >2</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)"
              >3</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)"
              >4</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)"
              >5</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
              href="javascript:void(0)"
            >
              <iconify-icon icon="ep:d-arrow-right" class=""></iconify-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
